<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
      </ion-buttons>
    <ion-title>mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id='map' style='width: 400px; height: 300px;'></div>
</ion-content>
