<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Historial <br>
      enviar por correo: <ion-icon (click)="enviarCorreo()" name="send-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item (click)="abrirRegistro(qr)" *ngFor="let qr of qrs; let i = index">
      <ion-avatar>
        <ion-icon name="{{qr.icon}}"></ion-icon>
      </ion-avatar>
      <ion-label>
        <p>{{qr.text}}</p>
        <p>{{qr.created}}</p>
      </ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
  
  </ion-list>

</ion-content>
